

<div class="">
    <h1 class="px-5 mx-5 my-5">About us</h1>



<div class="accordion " id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <strong>Why do we find alcohol so pleasurable?</strong> 
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>One explanation, of course, is that alcohol relaxes us and makes us more confident in social circles. We enjoy the heady sensation and keep coming back for more. It makes the party go round.  Another is that we share with the other African great apes an enzyme that allows us to break down the alcohols in over-ripe fruit, to access the sugars they contain. So much so, in fact, that chimpanzees in West Africa raid the palm juice left out by farmers to ferment naturally into toddy, sometimes drinking litres at a time. It is a way of getting more out of what you eat. But there is more to alcohol than just hedonic pleasures and nutrients. The clue lies in the fact that we make such extensive use of it in social contexts. The key to this is that alcohol triggers the brain’s endorphin system. Endorphins are opioid neurotransmitters that form part of the brain’s pain management system. Indeed, weight for weight, endorphins are 30 times more effective as analgesics than morphine. Their significance in this context is that early in monkey and ape evolution, endorphins were co-opted to become the glue that holds our social world together.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <strong>A central role in communal bonding</strong> 
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The social importance of this in the context of modern life emerged from some large stratified national surveys. One showed that people who had a regular ‘local’ they attended had more close friends, felt happier and more contented with life, more trusting of their wider community and more engaged with the community than either non-drinkers or those who did not have a regular ‘local’. Correlations don't give us causes of course, but more detailed statistical analysis did suggest that these were the downstream benefits of social drinking rather than its cause. The same was true of social feasting, especially when alcohol was consumed. Of course, alcohol is not the only mechanism that gets us friends; nor is it free of negative consequences, especially for excess consumers. But it does seem to have played a central role in communal bonding since the dawn of history.
             </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       <strong>Alcohol History</strong>  
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The oldest verifiable brewery has been found in a prehistoric burial site in a cave near Haifa in modern-day Israel. Researchers have found residue of 13,000-year-old beer that they think might have been used for ritual feasts to honor the dead. The traces of a wheat-and-barley-based alcohol were found in stone mortars carved into the cave floor.[4] Some have proposed that alcoholic drinks predated agriculture and it was the desire for alcoholic drinks that lead to agriculture and civilization.[5]

As early as 7000 BC, chemical analysis of jars from the Neolithic village Jiahu in the Henan province of northern China revealed traces of a mixed fermented beverage. According to a study published in the Proceedings of the National Academy of Sciences[6] in December 2004,[7] chemical analysis of the residue confirmed that a fermented drink made of grapes, hawthorn berries, honey, and rice was being produced in 7000–6650 BC.[8][9] This is approximately the time when barley beer and grape wine were beginning to be made in the Middle East.

Evidence of alcoholic beverages has also been found dating from 5400 to 5000 BC in Hajji Firuz Tepe in Iran,[10] 3150 BC in ancient Egypt,[11] 3000 BC in Babylon,[12] 2000 BC in pre-Hispanic Mexico[12] and 1500 BC in Sudan.[13] According to Guinness, the earliest firm evidence of wine production dates back to 6000 BC in Georgia.[10][14]

The medicinal use of alcohol was mentioned in Sumerian and Egyptian texts dating from about 2100 BC. The Hebrew Bible recommends giving alcoholic drinks to those who are dying or depressed, so that they can forget their misery (Proverbs 31:6–7).

Wine was consumed in Classical Greece at breakfast or at symposia, and in the 1st century BC it was part of the diet of most Roman citizens. Both the Greeks and the Romans generally drank diluted wine (the strength varying from 1 part wine and 1 part water, to 1 part wine and 4 parts water).[citation needed]

In Europe during the Middle Ages, beer, often of very low strength, was an everyday drink for all classes and ages of people. A document from that time mentions nuns having an allowance of six pints of ale each day.[citation needed] Cider and pomace wine were also widely available; grape wine was the prerogative of the higher classes.[citation needed]

By the time the Europeans reached the Americas in the 15th century, several native civilizations had developed alcoholic beverages. According to a post-conquest Aztec document, consumption of the local "wine" (pulque) was generally restricted to religious ceremonies but was freely allowed to those who were older than 70 years.[citation needed] The natives of South America produced a beer-like beverage from cassava or maize, which had to be chewed before fermentation in order to turn the starch into sugar (beverages of this kind are known today as cauim or chicha). This chewing technique was also used in ancient Japan to make sake from rice and other starchy crops.[citation needed]      </div>
    </div>
  </div>
</div>


</div>