<h1>Questions? Write us.</h1>

<br><br>

<form class="row g-3" method="post">
  <div class="col-md-4">
    <label for="inputEmail4" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputPassword4">
  </div>
  <div class="col-6">
    <label for="inputAddress" class="form-label">Email@</label>
    <input type="email" class="form-control" id="inputAddress" placeholder="@">
  </div>
  <div class="col-8">
    <label for="inputAddress2" class="form-label"> Question?</label>
    <textarea type="text" class="form-control" id="inputAddress2"></textarea>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary"> Send</button>
  </div>
</form>