<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="/images/Drinks/wine2.jpg" class="d-block w-100" alt="wine">
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-white">In vino veritas</h4>
        <p class="text-white"><a href="/drink-category"> Discover our collection of finest wines!</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/images/Drinks/beer.jpg" class="d-block w-100" alt="beer">
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-white">Save Water, Drink Beer!</h4>
        <p class="text-white"><a href="/drink-category"> Discover our collection of Beers!</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="/images/Drinks/whisky.webp" class="d-block w-100" alt="whisky">
      <div class="carousel-caption d-none d-md-block">
        <h4 class="text-white">Whisky is liquid sunshine</h4>
        <p class="text-white"><a href="/drink-category"> Discover our collection of Whiskeys!</a></p>
      </div>
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>