<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{AJ-Drinks}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

<header>
    <nav>
      <a href="/drinks">drinks</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/drinks/drink-create">Add a new drink</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/drinks/drink-details">Details page</a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/drinks/favorites">Favorites</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </nav>
</header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>