<div class="px-5 mx-5 my-5">

  <h1 class="px-5 mx-5 my-5">Profile</h1>

</div>
{{#if session.user}}
  <div class="card text-center">
    <div class="card-header">
      Welcome
    </div>
    <div class="card-body">
      <h5 class="card-title">Your user name : {{session.user.username}}</h5>

      <a href="/logout" class="btn btn-primary">Logout</a>
    </div>

  </div>
  <h2> </h2>

{{else}}
  <p>YOU HAVE TO LOG IN</p>
{{/if}}