
<div class="px-5 mx-5 my-5">

    {{#if session.user}}
    <h1 class="px-5 mx-5 my-5">Profile</h1>

<h2>Your user name : {{session.user.username}} </h2>


{{else}}
<p>YOU HAVE TO LOG IN</p>
{{/if}}

</div>
