

<main class="bg-dark bg-gradient">

  <section class="py-5 text-center container bg-dark ">
    <div class="row py-lg-1 ">
      <div class="col-lg-6 col-md-8 mx-auto ">
        <h1 class="text-white-50 bg-dark bg-gradient">Keep Calm & Choose Your Drink</h1>
        <p class="">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="/drinks/create" class="btn btn-primary ">Add a drink</a>
          {{!-- <a href="/drinks/create" class="btn btn-secondary my-2">Edit</a> --}}
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-dark bg-gradient ">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
        <div class="col">
          <div class="card shadow-sm border border-danger">

            <img src="/images/Drinks/Wine.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">

            <div class="card-body bg-danger bg-gradient">
              <p class="card-text">Wine</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-sm btn-outline-secondary"> <a href="drinks/wine"> View More</a></button>
                </div> 
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm border border-warning">

            <img src="/images/Drinks/beer2.webp" class="bd-placeholder-img card-img-top" width="100%" height="225">

            <div class="card-body bg-warning bg-gradient">
              <p class="card-text">Beer</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="drinks/beer"> View More</a></button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm border border-warning">

            <img src="/images/Drinks/whiskey2.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225">

            <div class="card-body bg-warning bg-gradient">
              <p class="card-text">Whiskey</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="drinks/whiskey"> View More</a></button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm border border-primary">

            <img src="/images/Drinks/vodka2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">

            <div class="card-body bg-primary bg-gradient">
              <p class="card-text">Vodka</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="drinks/vodka"> View More</a></button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm border border-info">

            <img src="/images/Drinks/gin2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">

            <div class="card-body bg-info bg-gradient">
              <p class="card-text">Gin</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="drinks/gin"> View More</a></button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col ">
          <div class="card shadow-sm border border-success">

            <img src="/images/Drinks/tequila2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">   
            <div class="card-body bg-success bg-gradient">
              <p class="card-text">Tequila</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="drinks/tequila"> View More</a></button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
                <img src="/images/Drinks/sake2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
            <div class="card-body bg-light bg-gradient">
              <p class="card-text">Sake</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="drinks/sake"> View More</a></button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm border border-danger">
              <img src="/images/Drinks/cognac2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225">
            <div class="card-body bg-warning bg-gradient">
              <p class="card-text">Cognac</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="drinks/cognac"> View More</a></button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm border border-warning">
              <img src="/images/Drinks/rum.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225"> 
            <div class="card-body bg-danger bg-gradient">
              <p class="card-text">Rum</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-6 mx-auto">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="drinks/rum"> View More</a></button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>