<div class="mx-auto mt-5" style="width: 400px;">
  <h1>Add Drinks</h1>
</div>
<br> <br> 
<form class="ps-5" action="/drinks/create" method="POST">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-5">
      <input type="text-area" class="form-control" id="inputEmail3" name="name" />
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-5">
      <input type="text-area" class="form-control" id="inputPassword3" name="description"/>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Rating</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" id="inputPassword3" name="rating" />
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Brewer/Company</label>
    <div class="col-sm-5">
      <input type="text-area" class="form-control" id="inputPassword3" name="brewer" />
    </div>
  </div>
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Category</legend>
    <div class="col-sm-5">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="category"
          id="gridRadios1"
          value="whiskey"
          checked
        />
        <label class="form-check-label" for="gridRadios1">
          Whiskey
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="category"
          id="gridRadios2"
          value="wine"
        />
        <label class="form-check-label" for="gridRadios2">
          Wine
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="category"
          id="gridRadios2"
          value="beer"
        />
        <label class="form-check-label" for="gridRadios2">
          Beer
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="category"
          id="gridRadios2"
          value="vodka"
        />
        <label class="form-check-label" for="gridRadios2">
          Vodka
        </label>
      </div>
            <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="category"
          id="gridRadios2"
          value="tequila"
        />
        <label class="form-check-label" for="gridRadios2">
          Tequila
        </label>
      </div>
            <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="category"
          id="gridRadios2"
          value="rum"
        />
        <label class="form-check-label" for="gridRadios2">
          Rum
        </label>
      </div>
            <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="category"
          id="gridRadios2"
          value="cognac"
        />
        <label class="form-check-label" for="gridRadios2">
          Cognac
        </label>
      </div>
            <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="category"
          id="gridRadios2"
          value="sake"
        />
        <label class="form-check-label" for="gridRadios2">
          Sake
        </label>
      </div>
      </div>
    </div>
  </fieldset>
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1" />
        <label class="form-check-label" for="gridCheck1">
          Example checkbox
        </label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

{{! <h2>Add a Drink</h2>

<form action="/drinks/create" method="POST">
  <label> Name:
    <input type="text" name="name" required/>
  </label>

  <label> Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label>

  <label> Rating:
    <input type="number" name="rating" min="1" max="10" />
  </label>

 <label> Brewer/ Company:
    <input type="text" name="brewer" required/>
  </label>

<label> Category:
    <input type="text" name="category" required/>
  </label>

  <label> Img:
    <input type="text" name="image">
  </label>

  <button type="submit"> Create </button>
</form> }}